=<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vesper</title>
    <script src="{{ url_for('static', filename='cytoscape.min.js') }}"></script>
</head>
<body>
    <h1>Vesper</h1>
    <form id="wcspForm">
        <label for="inp">Molecule name (eg. H2O, NaCl):</label>
        <input type="text" id="inp" name="inp" required>
        <br>
        <label for="type">Is it covalent or ionic?:</label>
        <input type="text" id="type" name="type" required>
        <br>
        <button type="submit">Submit</button>
    </form>
    <div id="output"></div>
    <div id="cy" style="width: 300px; height: 300px; border: 1px solid black; display: block"></div>
    <script>
        document.getElementById('wcspForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch('/run_code', {
                method: 'POST',
                body: formData,
                headers: {
                    'Accept': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok: ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('output').textContent = 'Output: ' + data.output;
                const num_vars = data.num_vars;
                const input = data.output;
                const elements = renameDuplicates(data.elements);
                const graph = parseInput(input, num_vars, elements);
                
                var cy = cytoscape({
                    container: document.getElementById('cy'),
                    elements: graph.nodes.concat(graph.edges),
                    style: [
                        {
                            selector: 'node',
                            style: {
                                'label': 'data(label)',
                                'background-color': '#61bffc',
                                'text-valign': 'center',
                                'text-halign': 'center',
                                'shape': 'ellipse',
                                'width': 40,
                                'height': 40,
                                'font-size': 12,
                                'border-width': 2,
                                'border-color': '#333'
                            }
                        },
                        {
                            selector: 'edge',
                            style: {
                                'label': 'data(label)',
                                'line-color': '#ccc',
                                'width': 3,
                                'target-arrow-shape': 'triangle',
                                'target-arrow-color': '#ccc',
                                'curve-style': 'bezier',
                                'text-margin-y': -10,
                                'font-size': 10,
                            }
                        },
                        {
                            selector: 'node[label="l"]',
                            style: {
                                'background-color': '#ffcccb', 
                                'width': 10,
                                'height': 10,
                                'shape': 'ellipse'
                            }
                        },
                        {
                            selector: 'edge[label=""]',
                            style: {
                                'line-color': 'transparent',
                                'width': 3,
                                'target-arrow-shape': 'none',
                                'line-opacity': 0
                            }
                        }
                    ],
                    layout: {
                        name: 'preset',
                    }
                });
            })
            .catch((error) => {
                document.getElementById('output').textContent = 'Error: ' + error.message;
            });
        });
        
        function renameDuplicates(list) {
            const result = [];
            const counts = {};

            for (const element of list) {
                if (counts[element]) {
                    counts[element]++;
                    result.push(`${element}${counts[element]}`);
                } else {
                    counts[element] = 1;
                    result.push(element);
                }
            }
            return result;
        }
        
        function parseInput(input, num_vars, elements) {
            let values = input.substring(16, num_vars * 2 + 14);
            console.log(values);
            let numVals = values.split(' ').map(Number);
            console.log(numVals);
            let lonePairs = numVals.slice(0, elements.length);
            console.log(lonePairs);
            let bonds = numVals.slice(elements.length);
            console.log(bonds);
            
            let nodes = [];
            let edges = [];
            let lonePairCounter = 0;

            let centerX = 250;
            let centerY = 250;

            nodes.push({
                data: {
                    id: elements[0],
                    label: elements[0]
                },
                position: {
                    x: centerX,
                    y: centerY
                }
            });

            let bondAngle = 2 * Math.PI / (elements.length);

            for (let i = 0; i < elements.length; i++) {
                let angle = i * bondAngle/2;
                let x = centerX + 120 * Math.cos(angle);
                let y = centerY + 120 * Math.sin(angle);

                nodes.push({
                    data: {
                        id: elements[i],
                        label: elements[i]
                    },
                    position: {
                        x: x,
                        y: y
                    }
                });

                let lonePairAngleStep = (2 * Math.PI) / lonePairs[i];
                for (let j = 0; j < lonePairs[i]; j++) {
                    let angle = j * lonePairAngleStep; 
                    let offsetX = 20 * Math.cos(angle); 
                    let offsetY = 20 * Math.sin(angle);

                    const lonePairID = `lonePair-${lonePairCounter++}`;

                    nodes.push({
                        data: {
                            id: lonePairID,
                            label: "l"
                        },
                        position: {
                            x: centerX + offsetX,
                            y: centerY + offsetY
                        }
                    });

                    edges.push({
                        data: {
                            source: elements[i],
                            target: lonePairID,
                            label: '',
                        }
                    });
                }
            }
                
            console.log(nodes);
            let bondIndex = 0;
            for (let i = 0; i < elements.length; i++) {
                for (let j = i + 1; j < elements.length; j++) {
                    let bond = bonds[bondIndex];
                    bondIndex++;
                    if (bond > 0) {
                        edges.push({
                            data: {
                                source: elements[i],
                                target: elements[j],
                                label: bond === 2 ? 'Single Bond' : bond === 4 ? 'Double Bond' : 'Unknown Bond'
                            }
                        });
                    }
                }
            }
            console.log(edges);
            return { nodes, edges };
        }

        function getBondAngle(bonds, lonePairs){
            if (bonds == 2 && lonePairs == 0){
                return Math.PI;
            } else if (bonds == 3 && lonePairs == 0){
                return (120 * Math.PI) / 180;
            } else if (bonds == 2 && lonePairs >= 1){
                return (104.5 * Math.PI) / 180;
            } else if (bonds == 4 && lonePairs == 0){
                return (109.5 * Math.PI) / 180;
            } else if (bonds == 3 && lonePairs == 1){
                return (107 * Math.PI) / 180;
            }

            return (90 * Math.PI) /180;
        }
    </script>    
</body>
</html>